/* Soluzione qui */
@media screen and (min-width: 768px) {
  #topbar {
    justify-content: left;
  }

  main {
    padding: 3rem;
  }

  .recipe-origin {
    display: inline-block;
  }

  .recipe-name {
    font-size: 1.8rem;
  }

  .quick-notes > ul {
    display: flex;
    flex-wrap: wrap;
  }

  .quick-notes li {
    flex-basis: calc(100% / 3 - (5px * 2) / 3);
  }

  .btn {
    flex-grow: 1;
  }

  .ads {
    display: block;
  }

  .clearfix > img {
    float: left;
    margin: 0.5rem;
  }
}