/* Soluzione qui */
@media screen and (min-width: 768px) {

  #topbar {
    justify-content: left;
  }

  main {
    padding: 3rem;
  }

  .recipe-origin {
    display: inline-block;
  }

  .recipe-name {
    font-size: 1.8rem;
  }

  .quick-notes>ul {
    display: flex;
    flex-wrap: wrap;
  }

  .quick-notes li {
    flex-basis: calc(100% / 3 - (5px * 2) / 3);
  }

  .btn {
    flex-grow: 1;
  }

  .ads {
    display: block;
  }

  .clearfix>img {
    float: left;
    margin: 0.5rem;
  }
}

@media screen and (min-width: 992px) {

  .recipe-name {
    font-size: 2.5rem;
  }
  
  .quick-notes>ul  {
    display: block;
  }

  .recipe-card {
    display: flex;
  }

  .recipe-video {
    width: 70%;
    max-height: 420px;
  }

  .recipe-info {
    width: 30%;
  }

  .social-networks .label{
    display: inline;
  }

  footer {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
}
